body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listaNav{
  list-style: none;
  margin: 0;
  padding: 0;
}
.linkNav{
  text-decoration: none;
}
.noCompras{
  display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    height: 32rem;

}
.contenedorVacio{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnSuma{
  height: 40px;
}
.btnResta{
  height: 40px;
}
.conteinerFooter{
  width: 100%;
}
.iconFooter{
  padding: 1rem;
}
.iW{
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: rgb(23, 95, 23);
}
.containButton{
  padding-bottom: 3rem;
}
.letFooter{
  padding-top: 1rem;
  padding-left: 11rem;
}
.loader{
  width: 100%;
  height: 32rem;
}
.item{
  height: 32rem;
}