body {
 background-color:white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAV*/
.newNav{
  border-bottom: 1px solid black;
  background-color: #f13b3b;
}

.listaNav{
  list-style: none;
  margin: 0;
  padding: 0;
}
.linkNav{
  text-decoration: none;
}

/* CONTENIDO*/
.noCompras{
  display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    height: 32rem;  
  }
.cartIcon{
  display: none;
}
.conCat{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;

}
.colorCard{
  
  border: none;
  padding: 1rem;
}
.contain{
  padding-top: 3rem;
}
.imgDetalle{
  width: 400px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.contenedorVacio{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnSuma{
  height: 40px;
}
.btnResta{
  height: 40px;
}


.loader{
  width: 100%;
  min-height: 80vh;
  padding-top: 15rem;
}
.item{
  padding: 2rem;
  margin: 1rem;
}
.itemCart{
  min-height: 80vh;
}

.txtCrd{
padding: 0.2;
display: flex;
justify-content: space-around;

}
.containerFooter{
 border-top: 1px solid black;
 background-color: #f13b3b;
}
/* Formulario*/

.comp{
  width: 100%;
  min-height: 80vh;
}

.fbody {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
   width: 100%;
   min-height: 80vh; 
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 3rem;
}
h1 {
  font-weight: 100;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}
.err{
  color: black;
  height: 60px;
}


input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 9px;
  margin-top: 10px;
  color: black;
  font-size: 14px;
  font-weight: 200;
}

input[type="submit"] {
  background: hsl(0, 0%, 50%);
  color: black;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

input[type="submit"]:hover {
  background: #ececec;
}

input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

/*FOOTER*/
.conteinerFooter{
  width: 100%;
}
.iconFooter{
  padding: 1rem;
}
.iW{
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: whitesmoke
}
.containButton{
  padding-bottom: 3rem;
}
.letFooter{
  padding-top: 1rem;
  padding-left: 11rem;
}




/*Monitores*/

@media screen and (min-width: 1441px){
  .item{
    height: 23rem; 
  }
  .itemCart{
    min-height: 86vh;
  }
  .contain{
    display: flex;
    justify-content: center;
    min-height: 57vh;
  }

  .conCat{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    min-height: 86vh;
  }

  .noCompras{
    display: flex;
      flex-direction: column;
      align-content: space-around;
      align-items: center;
      height: 50.3rem;
  }
  .buyedProd{
    min-height: 86vh;
  }

  .loader{
    width: 100%;
    min-height: 86vh;
  }

  
  .containButton{
    padding-bottom: 5rem;
  }
  .cardBody{
    padding-top: 2rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    border: none;
    width: 30%;
    height: 23.5rem;
  }
  .fbody{
    min-height: 86vh;
  }
}
  
@media screen and (min-width: 769px){
  .contain{
 display: flex;
 justify-content: center;

  }
 .cardDet{
  display: flex;
  flex-wrap: nowrap;
 } 
 .cardBody{
  padding-left: 2rem;
 }
}
@media screen and ( max-width: 768px ){ 
  body {
    margin:0;
    padding:0;
  }
  .containerFooter{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .parrafoUno{
   display: none;
  }
  .parrafoDos{
  padding-left: 3rem;
  }
 
}